.tryAgainButton{
    background-color: transparent !important;
    border-color: #32DE8A !important;
    border-radius: 5px !important;
    color: #000000 !important;
}

.tryAgainButton:hover {
    background-color: #32DE8A !important;
    color: #000000 !important;
    font-weight: bold !important;
}

.rmSpinner {
    top: 50%;
    left: 50%;
    margin-left: -4em;
    margin-top: 16em;
    animation: Logo-Spinner infinite 2s linear;
}

@keyframes Logo-Spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}